

body{
    background: url(https://www.desktop-background.com/p/2010/06/05/28524_1188-fractal-hd-wallpapers_1920x1200_h.jpg);
    color: gold;
    font-family: 'Tangerine', cursive, bold;
    font-family: 'Parisienne', cursive, bold;
    font-size: 20px;
}

#begin {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background: blue;
    color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    padding: 10px;
}

.choiceList {
    text-align: center;
    font-size: 60px;
    padding: 4px;
}

.question {
    background: blue;
    font-size: 45px;
    text-align: center;
}

.question[1] {
    
}
.nextButton {
    background: royalblue;
}
