body{
    background: url(https://www.desktop-background.com/p/2010/06/05/28524_1188-fractal-hd-wallpapers_1920x1200_h.jpg);
    color: gold;
    font-family: 'Tangerine', cursive, bold;
    font-family: 'Parisienne', cursive, bold;
    font-size: 20px;
}
h1 {
    text-align: center;
    font-size: 60px;
    padding: 25px;
}

.choiceList {
    background: royalblue;
    font-size: 45px;
}

.question {
    background: blue;
    font-size: 45px;
    text-align: center;

}